* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
  }
  
  .panel {
    position: absolute;
    top: 15px;
    display: block;
    width: 100%;
    text-align: center;
  }
  
  .panel .name {
    font-size: 24px;
    color: #21b7f8;
  }
  
  .panel .inspired {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.75);
    font-weight: normal;
  }
  
  .panel .inspired span {
    color: #21b7f8;
    font-weight: bold;
  }
  
  .panel a {
    text-decoration: none;
    color: orange;
    font-weight: bold;
  }
  
  .panel a:hover {
    text-decoration: underline;
  }
  
  .card {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateZ(0);
    width: 260px;
    height: 470px;
    box-shadow: 3px 5px 14px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    overflow: hidden;
    background: #fff;
    transition: box-shadow .3s;
  }
  
  .card:hover {
    box-shadow: 5px 7px 21px rgba(0, 0, 0, 0.56);
  }
  
  .card:hover .card__header .mask {
    background: rgba(141, 149, 157, .65);
  }
  
  .card:hover .card__header .fa-bookmark {
    color: #fff;
  }
  
  .card:hover .card__header .thumb {
    transform: scale(.64);
  }
  
  .card__header {
    height: 350px;
    position: relative;
    overflow: hidden;
  }
  
  .card__header .fa-bookmark {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #21b7f8;
    font-size: 24px;
    z-index: 10000;
    transition: color .75s;
  }
  
  .card__header .after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200%;
    height: 115px;
    z-index: 100;
  }
  
  .card__header .after .square {
    float: left;
    position: absolute;
    left: 0;
    width: 50%;
    height: inherit;
    background: #fff;
  }
  
  .card__header .after .tri {
    float: left;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 0 260px;
    border-color: transparent transparent transparent #fff;
  }
  
  .card__header .photo1 {
    width: 200%;
    height: 200%;
    background: url() no-repeat center top;
    background-position: 220% 300%;
    transform-origin: 0% 0%;
    transition: transform .3s;
  }
  .card__header4{
    width: 200%;
    height: 200%;
    background-image: url(images/Tokyo_National_Museum,_Honkan_2010.jpg);

    background-position: 220% 300%;
    transform-origin: 0% 0%;
    transition: transform .3s;
  }
  
  
  .card__header .photo2 {
    width: 200%;
    height: 200%;
    background: url(http://fr.web.img3.acsta.net/medias/nmedia/18/63/93/01/18948378.jpg) no-repeat center top;
    background-position: center;
    transform-origin: 0% 0%;
    transition: transform .3s;
  }
  
  
  .card__header .photo2 {
    width: 200%;
    height: 200%;
    background: url(http://fr.web.img3.acsta.net/medias/nmedia/18/63/93/01/18948378.jpg) no-repeat center top;
    background-position: 220% 300%;
    transform-origin: 0% 0%;
    transition: transform .3s;
  }
  
  .card__header .category {
    position: absolute;
    bottom: 6px;
    left: 6px;
  }
  
  .card__header .category span {
    display: inline-block;
    padding: 3px 4px;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background: #21b7f8;
    border-radius: 2px;
  }
  
  .card__header .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(141, 149, 157, 0);
    transition: background .15s;
  }
  
  .card__body {
    height: 120px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  
  .card__body .title {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 12px 0;
    padding: 0 40px;
    text-align: center;
    color: rgba(0, 0, 0, .87);
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    z-index: 100;
  }
  
  .card__body .description {
    position: absolute;
    font-size: 12px;
    padding: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(-35px);
    z-index: 1000;
    opacity: 0;
  }
  
  .card__body .subtitle {
    margin: 0;
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;
    padding: 0 30px;
    text-align: center;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
  }
  .footer{
      margin-top: 500px;
  }
